* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
}

header {
    height: 69px;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: black;
    width: 100%;
}

#logo {
    height: 50px;
    margin-left: 10px;
}

.nav-list {
    margin-right: 10px;
}

.nav-list li {
    display: inline;
    margin-left: 20px;
    list-style: none;
}

.nav-list a {
    color: seashell;
    text-decoration: none;
} 

/* Mission section */ 
#mission {
    display: flex;
    justify-content: center;
    position: relative;
}

.text {
    background-color: black;
    color: seashell;
    text-align: center;
    position: absolute;
    top: 350px;
    z-index: 1;
    width: 1200px;
    padding: 10px;
}

.backimage {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    width: 1200px;
    height: 700px;
    margin: 40px auto;
}

/* tea section */
.title {
    margin-bottom: 20px;
}

.title h2, .title h4 {
    text-align: center;
}

.title h2 {
    margin-bottom: 15px;
}

#tea-section {
    display: flex;
    justify-content: center;
}

.tea-container {
    display: inline-flex;
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.trending img {
    width: 300px;
    height: 200px;
    padding: 10px 10px;
}

.trending h4 {
    text-align: center;
}

/* locations section */
.text-top {
    text-align: center;
}

.box-container {
    height: 500px;
    max-width: 1200px;
    margin: 40px auto;
    padding-top: 85px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.address-square {
    height: 300px;
    width: 300px;
    padding: 20px;
    margin-bottom: auto;
    flex-basis: 30%;
    box-sizing: border-box;
    background-color: black;
    opacity: 0.8;
}

/* location section */
#locations {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-position: right top;
    background-size: cover;
    max-width: 1200px;
    height: 500px;
    margin: 80px auto 0 auto;

}

#locations h2 {
    text-align: center;
    padding-top: 80px;
}

.container-locations {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.location {
    background-color: black;
    opacity: 1;
    width: 300px;
    height: 300px;
    margin: 0px 20px;
}

.location p, .location h3 {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.text-area {
    margin: 40px 0;
}

/* contact */
#contact {
    height: 200px;
    display: flex;
    justify-content: center;
} 

.contact-container {
    text-align: center;
}

.contact-container h2 {
    margin-bottom: 50px;
    margin-top: 10px;
}

.contact-container h5 {
    margin-bottom: 30px;
}

/* footer */
footer {
    margin-left: 20px;
}